<form (ngSubmit)="addTalk(f)" [formGroup]="userForm">
  <ion-item>
    <ion-label stacked color="primary">Name</ion-label>
    <ion-input name="name" type="text" required minlength="3" id="nameInput"
               [formControl]="nameControl">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked color="primary">Speaker
      <div *ngIf="!speakerControl.valid && speakerControl.touched">Speaker is invalid</div></ion-label>
    <ion-input name="speaker" type="text" required minlength="3" id="speakerInput"
               [formControl]="speakerControl"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked color="primary">Start Time</ion-label>
    <ion-datetime displayFormat="hh:mm" pickerFormat="hh mm"
                  [formControl]="dateControl"></ion-datetime>
  </ion-item>

  <button ion-button id="submitAddTalk" color="primary" type="submit" block [disabled]="!userForm.valid">Add Talk</button>

</form>
